body {
    background: linear-gradient(100deg, #b084cc, #190933);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat';
}

h1 {
    font-size: 5em;
    font-weight: bold;
    font-family: 'Kalam';
    color: #CCC;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #CCC;
    border-radius: 5px;
    text-decoration: none;
    color: #eee;
    font-size: 16px;
    font-family: 'Montserrat';
    background-color: transparent;
    margin: 5px;
}

    a:hover {
        background-color: #E485B1;
        color: #190933;
        font-weight: bold;
    }

a2 {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #CCC;
    border-radius: 5px;
    text-decoration: none;
    color: #190933;
    font-size: 16px;
    font-family: 'Montserrat';
    background-color: #E485B1;
    margin: 5px;
    margin-top: 20px;
    cursor: pointer;
}

    a2:hover {
        background-color: #B2CDE6;
        color: #190933;
        font-weight: bold;
    }

a3 {
    display: inline-block;
    padding: 10px 20px;
    color: #eee;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat';
    background-color: transparent;
    margin: 5px;
    margin-top: 20px;
}

label {
    font-size: 16px;
    font-family: 'Kalam', cursive;
    color: #CCC;
    margin: 0 auto;
    display: block;
}

input {
    margin: 0 auto;
    display: block;
}

p {
    font-size: 16px;
    font-family: 'Kalam', cursive;
    color: #CCC;
    margin: 0 auto;
    display: block;
}

ul {
    
}

button {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-family: 'Montserrat';
    cursor: pointer;
    background-color: #eee;
    margin-top: 20px;
    margin-bottom: 10px;
}

    button:hover{
        background-color: #B2CDE6;
        color: #190933;
        font-weight: bold;
    }

.errorlist {
    font-size: 16px;
    font-family: 'Kalam', cursive;
    color: #CCC;
    margin: 0 auto;
    display: block;
}

span {
    display: none
}

#text {
    font-size: 16px;
    font-family: 'Montserrat';
    color: #CCC;
    margin: 0 auto;
    display: block;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}