<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My ToDo Lists</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>My To-Do Lists</h1>
    <div class="list-container">
        {% for list in lists %}
        <div class="list-item">
            <a href="{% url 'list_detail_view' list.id %}">{{ list.name }}</a>
        </div>
        {% endfor %}
    </div>
    <a href="{% url 'create_list_view' %}">Create New List</a>
</body>
</html>